.card {
  margin-top: 50px;
  min-height: 360px;
  font-size: var(--font-size-large);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-bottom: 40px;
  background-color: var(--background);
  border-radius: var(--border-radius);
  align-items: center;
}

.card__title {
  margin: 30px 0;
}

.card__content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.card__content__element-container {
  flex-grow: 1;
  flex-basis: 300px;
  display: flex;
  justify-content: center;
}

.card__content__text-container {
  flex-grow: 1;
  flex-basis: 300px;
  font-size: var(--font-size-medium);
}

.card__content__text-container p {
  font-size: inherit;
  line-height: 1.6;
}
.card__content__text-container p > span {
  background-color: var(--background-body);
  padding: 2px 1px;
  margin: 0 3px;
  border-radius: var(--border-radius);
}
