.phrase {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phrase > h2 {
  font-size: var(--font-size-title);
  font-weight: 400;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .phrase > h2 {
    font-size: var(--font-size-big);
  }
}
