.main {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.buttons-container {
  width: 100%;
  padding: 0 3rem;
}

@media only screen and (max-width: 500px) {
  .header h1 {
    --header-title-font-size: var(--font-size-large);
  }
  .main {
    width: 90%;
  }
}
