.main {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.container > div {
  height: 60px;
  width: 1px;
  margin: 0 20px;
  background-color: rgb(var(--background-rgb));

}
