.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}
.header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: var(--font-size-title);
}

.game-stats {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  padding-bottom: 50px;
}
.game-stats > p {
  font-size: var(--font-size-big);
}
