.main {
  width: clamp(50%, 1000px, 90%);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.phrases-section {
  height: 250px;
  display: flex;
  align-items: center;
}

.play {
  padding-top: 30px;
  font-size: var(--font-size-large);
}

@media only screen and (max-width: 600px) {
  .phrases-section {
    height: 200px;
  }
}
