.header {
  height: min(auto, 100px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  user-select: none;
}
.header h1 {
  font-weight: 400;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .header img {
    display: none;
  }
}
